.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.horizontal {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-basis: 100%;
}

.horizontal .bold {
    font-weight: bold;
}

.horizontal .param {
    display: flex;
    gap: 0.5rem;
}

.title {
    font-weight: bold;
}