.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.name {
    font-weight: bold;
}

.table {
    table-layout: fixed;
    width: 30rem;
}

.table .namecol {
    width: 10rem;
}

.table .namerow {
    text-align: left;
}

.invalid {
    color: #d00;
}